

{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="static/images/new1.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">WELCOME</span> TO CURRENCY PREDICTION</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Currency detection is a big problem for the world. Almost every country has been badly affected by this which has become a very acute problem. The main purpose behind this study is to recognize Indian paper currency. In this study, the Indian currency note features will be extracted and then these stored features will be matched with the input paper currency to recognize. With this system, easy to recognize the currency note anywhere, anytime. Currency recognition has big challenges like watermark recognition, currency note resolution, dirty notes etc.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


 {% endblock %}